<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>vfdsvdfvf</title>
</head>
<body>

    <div class="starter-template">
        <h1>Game Dev Mates</h1>
        <p class="lead">Use this service to find mates for game development.</p>
    </div>

    <div class="container">

        <form class="form" method="get" action="/search">
            <input type="search" name="query" class="form-control">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

    </div>

</body>
</html>