<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>avadakedavra</title>
</head>
<body>
<h1> GamedevMates <span class="badge badge-secondary"></span></h1>
   <div class="p-3 mb-2 bg-info text-white">Join the team or create your own!</div>
<button type="button" class="btn btn-primary">
   <span class="badge badge-light"> My Profile </span>
  <span class="sr-only">unread messages</span>
</button>
   <button type="button" class="btn btn-primary btn-lg"> Create a project </button>
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Project 1</button>
          <button type="button" class="btn btn-secondary">Demand </button>
      </div>

      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Project 2</button>
          <button type="button" class="btn btn-secondary">Demand</button>
      </div>

 <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Project 3</button>
          <button type="button" class="btn btn-secondary">Demand</button>
      </div>



</body>
</html>