<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>My Super Appplication</title>
</head>
<body>
    {% if user %}
        <h1>Hello, {{user.name}}!</h1>
    {% else %}
        <div class="alert alert-warning">User not found!</div>
    {% endif %}
</body>
</html>